[client]
user=root
password=setapassword
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqldump]
user=root
password=setapassword

[mysqld]
skip-name-resolve
default-storage-engine=INNODB
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
lower_case_table_names=1
